################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/Zoey.Dapper.MySql/obj
/.vs/Zoey.Dapper/v15
