@model  IEnumerable<Student>
@{
    ViewData["Title"] = "Home Page";
}

<ul>
    @{
        if (Model != null)
        {
            foreach (var item in Model)
            {
                <li>@item.Name - @item.Age - @item.Score</li>
            }
        }
    }
</ul>